body { 
  background: linear-gradient(to left, #3f87a6, #ebf8e1);  
  display: flex; 
  align-items: flex-start;
  justify-content:center;
  height: 100vh;
} 

.temp-wrapper {  
  display: flex; 
  align-items: center;
  justify-content: center; 
  margin-top: 50px;
} 

.temp-wrapper div { 
  display: flex; 
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,.5);
  background-color: rgba(244,244,244,.0); 
  width: 150px;
  height: 150px; 
  font-size: 4.5rem;
}
 
.other-data { 
  margin-bottom: 50px; 
  color: white; 
  font-size: 1.2rem; 
  width: 200px; 
  height: 100px;
  padding: 5px;
} 

.other-data .city-name { 
  text-decoration: underline; 
  color: rgba(0,0,0,.5); 
  font-size: 1.5rem;
} 